/* Reset */
ol, ul {
    list-style: none;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
form {
    margin: 0;
    padding: 0;
    width: max-content;
}
/* ------ */

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30px;
}
.item-list {
    display: grid;
    grid-template-columns: 42% 8% 10% 20% 20%;
    grid-template-rows: 30px;
    width: 100%;
}

.item-list-header {
    background: linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%);
}

.item-prop {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-prop-header {
    background-color: darkgray;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: bold;
    border-bottom: 2px solid black;
}
.item-prop-name {
    justify-self: start;
    margin-left: 20px;
}
.input-container{
    margin: 0;
}
.item-list-element {
    background: linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.item-list-element:hover {
    background-color: rgb(75, 75, 75);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.selection {
    background-color: rgb(75, 75, 75);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.input-newFolderName{
    justify-self: start;
    margin-left: 20px;
}