.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(41, 41, 41);
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-list-navegation{
    width: 65%;
}
.nav-list-funcionality{
    width: 45%;
    justify-content: space-around;
}

.nav-item {
    padding: 10px;
}

.nav-list-navegation i{
    margin-right: 5px;
}